<HEAD>
  <!-- <link rel="stylesheet" type="text/css" href="contact.css"> -->
  <title><%= @title %></title>
</HEAD>

<body>

</body>

<h3>Make reservation here</h3>

<form method="POST" action="/confirmation">    
<input type="text">
<input type="submit"> </form>