<HEAD>
  <!-- <link rel="stylesheet" type="text/css" href="contact.css"> -->
  <title><%= @title %></title>
<


<h2> You will receive and email confirmation shortly for your reservation: </h2>
<%= your message %>