<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/gallery.css">
  <title> <%= @title => </title>
</head>

<body>
  <div class="container">
    <h1>Gallery</h1>

    <div class="carousel">
      <img class="first" src="images/barphoto9.jpg" alt="">
      <img src="images/barphoto9.jpg" alt="">
      <img src="images/barphoto9.jpg" alt="">
      <img src="images/barphoto9.jpg" alt="">
      <img src="images/barphoto9.jpg" alt="">
      <img src="images/barphoto6.jpg" alt="">
    </div>
  </div>

</body>

</html>