<!DOCTYPE html>
<html>
<head>
 <title><%= @title || "My site" %> </title>
 
	 <!-- Google Fonts -->
	 <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300,200' rel='stylesheet' type='text/css'>
	 
	 <!-- Link to main css -->
	 <link rel="stylesheet" type="text/css" href="main.css">

</head>

<!-- footer nav bar for all pages -->
	<nav id="footer">
		<ul>
			<li><a href="/">HOME</a></li>
			<li><a href="gallery">GALLERY</a></li>
			<li><a href="menu">MENU</a></li>
			<li><a href="contact">CONTACT</a></li>
		</ul>
	</nav>


<!-- @ connects to pages currently on -->
<body class=<%= @current_page %>>


 <%= yield %>

</body>

	

</html>