
<link rel='stylesheet' type='text/css' href='stylesheets/menu.css'>

<div id="container">

 <div id="image"> 
  <img src="images/barphoto14.jpg" width="100%">

</div>

<div id="drinks">
  <div id="drinksleft">
  
    <div id="tails">
    <p>jfkdlfjidsjfklsdjfkldsjklfjdsjfklsdjfkldsjfkldsjflkdsjflidsijfkldsjfisdjfklsdjfljdslk</p>
    </div>

    <div id="tails2">
    <p>jfkdlfjidsjfklsdjfkldsjklfjdsjfklsdjfkldsjfkldsjflkdsjflidsijfkldsjfisdjfklsdjfljdslk</p>
    </div>

    <div id="tails3">
    <p>jfkdlfjidsjfklsdjfkldsjklfjdsjfklsdjfkldsjfkldsjflkdsjflidsijfkldsjfisdjfklsdjfljdslk</p>
    </div>
  </div>
  <div id="drinksleft">
    <div id="tails4">
    <p>jfkdlfjidsjfklsdjfkldsjklfjdsjfklsdjfkldsjfkldsjflkdsjflidsijfkldsjfisdjfklsdjfljdslk</p>
    </div>

    <div id="tails5">
    <p>jfkdlfjidsjfklsdjfkldsjklfjdsjfklsdjfkldsjfkldsjflkdsjflidsijfkldsjfisdjfklsdjfljdslk</p>
    </div>
    <div id="tails6">
    <p>jfkdlfjidsjfklsdjfkldsjklfjdsjfklsdjfkldsjfkldsjflkdsjflidsijfkldsjfisdjfklsdjfljdslk</p>
    </div>
  </div>
</div>


</div> 


