<head>
<title><%= @title %></title>

<!-- Google Fonts -->

     <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300,200' rel='stylesheet' type='text/css'>
     
     <!-- Link to main css -->
     <link rel="stylesheet" type="text/css" href="main.css">



<link rel='stylesheet' type='text/css' href='stylesheets/menu.css'>
</head>

<div class="container">
 
  

  <div id="left_column">
    <img src="images/barphoto14.jpg" width="100%">
    
   </div>
   
   <div id="right_column">

      <div id="leftlist">
        <h2>MARTINIS</h2>
            <h3>Cosmopolitan</h3>
            <p>Absolut Citron Vodka, Cointreau, Fresh Lime Juice, Splash of Cranberry Juice</p>

          
         <h3>Martini Bianco</h3>
        <p>A Fine Blend of Dry White Wines, Herbs, and Vanilla, Garnished with a Strawberry</p>

           <h3>Champaigne-tini</h3>
        <p> St. Germain Elderflower Liquor, Blanc de Blanc Cuvee</p>

           <h3>American Honey</h3>
        <p> American Honey Bourbon, Fresh Pineapple Juice, Fresh Lemon Juice & Cantaloupe</p>

           <h3>French 75 Martini</h3>
        <p> Hendricks Gin, Fresh-Squeezed Lemon Juice, Simple Syrup & Sparkling Wine</p>

        <h2>SEASONAL COCKTAILS</h2>
        <h3>Jameson & Ginger</h3>
        <p>Jameson Irish Whiskey, Boylan Small Batch-Made Ginger Ale</p>

        <h3>American Honey</h3>
        <p>American Honey Bourbon, Peach Schnapps, Fresh Lemon, Splash of Orange Juice , Splash of Cranberry Juice</p>

        <h3>Strawberry Lemonade</h3>
        <p>Made with Freshly Squeezed Lemon Juice</p>

        <h3>Pear Ginger Quencher</h3>
        <p>Pear Purée, Pineapple Juice, Sweet Ginger Purée, Lemon Juice</p>



       </div>
       

      <div id="rightlist">

        <h2>MARTINIS</h2>
        <h3>Cosmopolitan</h3>
        <p>Absolut Citron Vodka, Cointreau, Fresh Lime Juice, Splash of Cranberry Juice</p>

        <h3>Martini Bianco</h3>
        <p>A Fine Blend of Dry White Wines, Herbs, and Vanilla, Garnished with a Strawberry</p>

        <h3>Champaigne-tini</h3>
        <p>St. Germain Elderflower Liquor, Blanc de Blanc Cuvee</p>

        <h3>Up Here, Manhattan</h3>
        <p>Knob Creek , Sweet Vermouth, Drunk Cherries, Served Up</p>

        <h3>American Honey</h3>
        <p>American Honey Bourbon, Fresh Pineapple Juice, Fresh Lemon Juice & Cantaloupe</p>

        <h3>French 75 Martini</h3>
        <p>Hendricks Gin, Fresh-Squeezed Lemon Juice, Simple Syrup & Sparkling Wine</p>


        <h2>NON-ALCOHOLIC</h2>
      <h3>Virgin Top of the View</h3>
      <p>Our Signature Cocktail Alcohol-Free: Guava Nectar, Pineapple Juice,  Orange Juice, Fresh Lime Juice,
      Splash of Grenadine </p>

      <h3>The Blossom</h3>
      Mango, Pineapple Juice, Splash of Cranberry Juice

      <h3>Prickly Pear Cooler</h3>
      <p>Prickly Pear Purée, Pineapple Juice, Fresh-Sweetened Lemon Juice</p>

      </div>
            <div class="clearfix">.</div>
    </div>

   </div> 













</div>



